* {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

select {
    padding: 6px 8px;
    outline: none;
    border-radius: 4px;
}

#search {
    outline: none;
    border-radius: 4px;
    padding: 6px 8px;
    border: 1px solid #7d7d7d;
}

.footer {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
