/* Navigation */
@keyframes navIn {
    from {
        transform: translateX(-50%) translateY(60px);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) translateY(50px);
        opacity: 1;
    }
}

@keyframes navOut {
    from {
        transform: translateX(-50%) translateY(50px);
        opacity: 1;
    }

    to {
        transform: translateX(-50%) translateY(60px);
        opacity: 0;
    }
}

@keyframes subNavIn {
    from {
        transform: translateX(100%) translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateX(100%) translateY(0);
        opacity: 1;
    }
}

@keyframes subNavOut {
    from {
        transform: translateX(100%) translateY(50px);
        opacity: 1;
    }

    to {
        transform: translateX(100%) translateY(60px);
        opacity: 0;
    }
}

/* Typing */
@keyframes blink {
    0% {
        background-color: #42ba96;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: #42ba96;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #42ba96;
    }
}

/* Nav Bar */
@keyframes fadeInFromTopLeft {
    0% {
        opacity: 0;
        transform: scale(0) translate(calc(100% -16px), calc(-100% + 16px));
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

/* Scroll */
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

[data-animation] {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    animation-duration: 1s;
}

.animations-disabled,
.animations-disabled[data-animation] {
    animation: none !important;
    opacity: 1 !important;
}

.slideInUp {
    animation-name: slideInUp;
}
.slideInDown {
    animation-name: slideInDown;
}
.slideInLeft {
    animation-name: slideInLeft;
}
.slideInRight {
    animation-name: slideInRight;
}
