.information {
    padding: 80px 0;
}

.information__icon svg {
    width: 50px;
    height: 50px;
}

.information__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: #181818;
    font-weight: 300;
    line-height: 2.5rem;
}

.information__para {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #707d93;
    font-weight: 300;
}

@media (max-width: 759px) {
    .information {
        padding: 40px 0;
    }

    .information__heading {
        font-size: 1.8rem;
    }
}

@media (min-width: 760px) and (max-width: 989px) {
    .information__heading {
        font-size: 1.8rem;
    }

    .information__para {
        font-size: 1.7rem;
    }
}
