.pricing {
    padding: 100px 0;
    background-color: #eff2f6;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.pricing__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.pricing__heading {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.pricing__para {
    width: 70%;
    text-align: center;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #71829b;
    font-weight: 300;
}

.pricing__check {
    display: flex;
    align-items: center;
}

.pricing__check span {
    font-size: 2rem;
    color: #859ab8;
    font-weight: 300;
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch__label {
    cursor: pointer;
    text-indent: -9999px;
    width: 44px;
    height: 26px;
    background: #d9e2ef;
    display: block;
    border-radius: 100px;
    position: relative;
    margin: 0 16px 0 12px;
}

.switch__label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 24px;
    transition: 0.3s;
}

#switch:checked + .switch__label {
    background: #335eea;
}

#switch:checked:checked + .switch__label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.pricing__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pricing__container-content {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
}

.pricing__container-content:first-child {
    z-index: 2;
}

.pricing__container-info,
.pricing__container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    background-color: #fff;
    width: 100%;
}

.pricing__container-label {
    text-align: center;
    font-size: 1.4rem;
    padding: 6px 12px;
    border-radius: 16px;
    line-height: 1.6rem;
    color: #335eea;
    background-color: #eaeffd;
    letter-spacing: 0.08em;
    margin-bottom: 48px;
}

.pricing__container-price {
    display: flex;
    margin-bottom: 16px;
    align-items: flex-end;
}

.pricing__container-price div {
    display: flex;
    align-items: flex-start;
}

.pricing__container-price p {
    margin: 0;
}

.price__unit,
.price__desc {
    font-size: 3.4rem;
    line-height: 3.4rem;
    font-weight: 300;
}

.price__number {
    font-size: 6rem;
    line-height: 5rem;
    font-weight: 300;
}

.pricing__container-desc {
    font-size: 2rem;
    color: #67778e;
    font-weight: 300;
    margin-bottom: 40px;
}

.pricing__container-list {
    align-self: flex-start;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pricing__container-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pricing__container-item i {
    padding: 5px 6px;
    background-color: #e8f5f3;
    border-radius: 50%;
    color: #42ba96;
}

.pricing__container-item span {
    font-size: 1.8rem;
    font-weight: 300;
}

.pricing__container-btn {
    width: 100%;
    background-color: #335eea;
}

.pricing__container-btn a {
    text-decoration: none;
    display: block;
    padding: 28px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.pricing__container-para {
    font-size: 2rem;
    color: #869ab8;
    line-height: 3rem;
    margin: 80px 0;
    text-align: center;
    padding: 0 24px;
    font-weight: 300;
}

.btn-gray {
    background-color: #d9e2ef;
}

.btn-gray a {
    color: #2a4279;
}

.pricing__layout {
    width: 100%;
    position: absolute;
    bottom: 400px;
    left: 0%;
    z-index: -1;
    transform: scale(2);
}

.pricing__layout svg {
    color: #1a2a4d;
}

.pricing__layout-footer {
    height: 405px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1a2a4d;
    z-index: -2;
}

@media (max-width: 759px) {
    .pricing {
        padding: 0;
    }

    .pricing__para {
        width: 100% !important;
    }

    .pricing__container {
        gap: 36px;
    }
    .pricing__container-para {
        margin: 0 !important;
    }
}

@media (max-width: 989px) {
    .pricing__heading {
        font-size: 3rem;
    }

    .pricing__para {
        font-size: 1.9rem;
        width: 80%;
    }

    .pricing__check span {
        font-size: 1.8rem;
        color: #859ab8;
    }

    .pricing__container-label {
        font-size: 1.2rem;
    }

    .price__unit,
    .price__desc {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .price__number {
        font-size: 4rem;
        line-height: 3.2rem;
    }

    .pricing__container-desc {
        font-size: 1.8rem;
    }

    .pricing__container-item span {
        font-size: 1.6rem;
    }

    .pricing__container-btn a {
        font-size: 1.7rem;
        padding: 24px;
    }

    .pricing__container-para {
        font-size: 1.9rem;
        margin: 60px 0;
    }
}
