.utils {
    padding-bottom: 128px;
    background-color: #1a2a4d;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.utils__list {
    margin-bottom: 48px;
}

.utils__item {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 48px;
}

.utils__item i {
    padding: 10px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 50%;
    background-color: #42ba96;
    color: #fff;
}

.utils__item-heading,
.utils__item-para {
    margin: 0;
}

.utils__item-heading {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 16px;
    line-height: 2.8rem;
}

.utils__item-para {
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #869ab8;
}

.utils__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utils__info-label {
    text-align: center;
    font-size: 1.4rem;
    padding: 6px 12px;
    border-radius: 16px;
    line-height: 1.6rem;
    color: #869ab8;
    background-color: #203055;
    letter-spacing: 0.08em;
    margin-bottom: 24px;
}

.utils__info-heading {
    font-size: 4.4rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #fff;
    line-height: 4.4rem;
    margin-bottom: 24px;
    text-align: center;
}

.utils__info-para {
    margin-bottom: 60px;
    text-align: center;
    width: 86%;
}

.utils__info-para p {
    margin: 0;
    line-height: 3.4rem;
    font-size: 2.2rem;
    color: #bccce3;
    font-weight: 300;
}

.utils__info-btn {
    font-size: 1.7rem;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #42ba96;
    box-shadow: 0 0 0 rgba(22, 28, 45, 0);
}

.utils__info-btn:hover {
    background-color: #3ba082;
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
}

.utils__info-btn i {
    font-size: 1.4rem;
}

.utils__layout {
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: -1;
    transform: scale(2);
}

.utils__layout svg {
    color: #f1f4f8;
}

@media (max-width: 759px) {
    .utils {
        padding-top: 48px;
    }
}

@media (max-width: 989px) {
    .utils__item-heading,
    .utils__item-para {
        font-size: 1.6rem;
    }

    .utils__item i {
        font-size: 1rem;
    }

    .utils__info-heading {
        font-size: 3.2rem;
    }

    .utils__info-para p {
        font-size: 1.8rem;
    }

    .utils__info-btn {
        padding: 18px 22px;
    }

    .utils__item-heading {
        margin-bottom: 8px;
    }
}
